<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>xd<br>xd</h1>
            <img src="../img/logo.png" alt="LOGO"><br>
            <img class="benchGuy" src="../img/cute-man-barbell.png" alt="bench">
        </div>
        <div class="right">
            <h1>Login</h1>
            <form>
                <input name="login" type="text" placeholder="Username"><br>
                <input name="password" type="password" placeholder="Password"><br>
                <button class="loginButton">LOGIN</button><br><br>
                <button>Login with Facebook</button>
                <button>Login with Google</button>
            </form>        
        </div>
    </div>
    
</body>
</html>