* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 2300px;
    margin: 5vh auto;
    border: 2px solid #000;
    border-radius: 3rem;
    overflow: hidden;
}

.left {
    flex: 1;
    background: #C6C5FF;
    text-align: center;
    padding: 2rem;
}

.logo-and-text {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
}

.left h1 {
    font-family: 'Carter One', cursive;
    font-size: 4.5rem;
    line-height: 1.2;
    line-height: 5.4rem;
    margin-bottom: 1rem;
}

.benchGuy {
    width: 600px;
    margin-top: 2rem;
}

.right {
    width: 40%;
    background-color: white;
    text-align: center;
    padding: 2rem;
}

.right h1 {
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.right form {
    margin-top: 5rem;
}

input {
    display: block;
    width: 90%;
    max-width: 350px;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #E7E7E7;
    border: none;
    border-bottom: 2px solid #A4A3FF;
    color: rgba(0, 0, 0, 0.7);
    
}

.forgotPasswordContainer {
    text-align: center;
}

.forgotPassword {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.loginButton {
    display: block;
    width: 80%;
    max-width: 350px;
    margin: 5rem auto 0.3rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #EC2529;
    color: white;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #99181a;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9rem auto 2rem;
    width: 80%;
    max-width: 400px;
}

.separator hr {
    flex: 1;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.separator span {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin: 0 1rem;
}

.socialLogin {
    margin-top: 1rem;
}

.socialLogin div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.facebookLogin,
.googleLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 70%;
    max-width: 280px;
    margin: auto;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}

.facebookLogin {
    background-color: #5475C8;
    color: white;
}

.facebookLogin:hover {
    background-color: #4c69b4;
}

.googleLogin {
    background-color: #EEEAEA;
    color: black;
}

.googleLogin:hover {
    background-color: #d3d0d0;
}



@media (max-width: 1364px) {
    .container {
        flex-direction: column;
        width: 95%;
        margin: 5vh auto;
    }

    .left, .right {
        width: 100%;
        padding: 1.5rem;
    }

    .left h1 {
        font-size: 4rem;
    }

    .right h1 {
        font-size: 4.5rem;
    }

    .right form {
        margin-top: 4rem;
        
    }

    .benchGuy {
        display: none;
    }
}

@media (max-width: 425px) {
    .logo{
        display: none;
    }

    .separator{
    }
}