.create-workout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem 0;
}

header h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 3rem;
}

.create-workout form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-workout form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.main-label {
    font-size: 1.5rem;
}

.create-workout input[type="text"], 
.create-workout input[type="file"], 
.create-workout textarea, 
.create-workout select {
    margin-bottom: 2rem;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    max-width: 700px;
}

.create-workout form button {
    padding: 1rem;
    font-size: 2rem;
    background-color: #333;
    color: white;
    width: 30%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-workout form button:hover {
    background-color: #555;
}

.scrollable-exercises {
    height: 35vh;
    overflow-y: auto; /* Scroll pionowy */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 2rem;
}

.exercises-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.exercise-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 260px;
    text-align: center;
    background-color: white;
}

.exercise-block input[type="checkbox"] {
    margin-bottom: 1rem;
}

.exercise-block img {
    width: 200px;
    height: auto;
}

.exercise-block p {
    font-weight: 400;
    margin-top: 5px;
}

.error {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 0, 55);
    margin-top: 1rem;
}

@media  (max-width: 1024px) {
    .create-workout {
        padding: 2rem;
    }

    .create-workout form button {
        width: 50%;
    }

    .scrollable-exercises {
        height: 40vh;
    }

    .exercise-block {
        width: 30%;
    }

    .exercise-block img {
        width: 150px;
    }

}

@media  (max-width: 768px) {
    .exercise-block {
        width: 45%;
    }

    .exercise-block img {
        width: 100px;
    }

    .exercise-block label p {
        display: none;
    }

    .create-workout form button {
        width: 60%;
    }
}

@media  (max-width: 620px) {

    header h1 {
    font-size: 2.5rem;
    }

    .exercise-block {
        width: 100%;
    }

    .exercise-block img {
        display: none
    }

    .exercise-block {
        flex-direction: row;
    }

    .exercise-block input[type="checkbox"] {
        margin: auto 5px auto 0;
    }

    .create-workout form label {
        margin:  0;
    }
    
    .create-workout form button {
        font-size: 1.5rem;
        padding: 1rem;
        width: 70%;
    }
    
}