.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.profile-header h1 {
    font-size: 3rem;
}

.profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: #000000 2px solid;
    object-fit: cover;
    margin-bottom: 2rem;
}

.profile-bio, .profile-edit {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.profile-bio h3, .profile-edit h3 {
    margin-bottom: 1rem;
}

.profile-bio p {
    background-color: #ececec;
    padding: 1rem;
    border-radius: 5px;
}

.profile-edit form {
    display: flex;
    flex-direction: column;
}

.profile-edit label {
    margin-bottom: 0.5rem;
}

.profile-edit input, .profile-edit textarea {
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-edit button {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.profile-edit button:hover {
    background-color: #0056b3;
}

@media  (max-width: 1020px) {
    .profile-section {
        padding: 5rem 0 0 0;
    }
}