nav {
    position: fixed;
}

main {
    margin-left: 20.5vw;
}

.users-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin: 2rem;
    align-items: flex-start;
}

.user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
    width: 20vw;
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
}

.user-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.user-card p {
    font-size: 1em;
    color: #666;
}

.user-workouts {
    margin-top: 1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
}

.workouts-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1rem;
}

.workout-link {
    text-decoration: none;
    color: #333;
}

.workout-card {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.workout-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.workout-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1020px) {
    .user-card {
        width: 15rem;
    }
    nav {
        position: relative;
    }
    main {
        margin: auto;
    }
}

@media (max-width: 764px) {
    .workout-card img {
        display: none;
    }

    .workout-card h4 {
        margin: 0.5rem;
    }
}

@media (max-width: 425px) {
    .user-card p {
        display: none;
    }
}