header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.add-workout {
    background-color: #EC2529;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    margin-right: 1em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.add-workout>i {
    padding: 1em 1em;
}

.search-bar {
    width: 70%;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    
}

.workouts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.workouts>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.workouts>div>div {
    height: 50%;
    margin: 1em;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.workouts>div {
    border: 1px solid gray;
    border-radius: 1em;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workouts .fa-heart {
    color: red
}

.learn-more {
    float: right;
}


@media (max-width: 1250px) {
    .workouts {
        grid-template-columns: repeat(2, 1fr);
    }

    .add-workout {
        width: 30%;
    }

    .search-bar {
        width: 60%;
    }
}

@media (max-width: 1020px) {
    .workouts {
        grid-template-columns: 1fr; 
        
    }
    
    .fa-heart {
        float: left;
    }
}